@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap"); /*-RESET-*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

/* Класс для обнуления базовых свойств у списков (ul) */
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Класс для обнуления базовых свойств у ссылок */
a {
  text-decoration: none;
  color: inherit;
}

/* Свойства для корректного отображения картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Свойства для обнуления курсива у address */
address {
  font-style: normal;
}

body {
  font-family: "roboto", sans-serif;
  color: #525252;
  background-color: #fff;
  font-size: 16px;
  line-height: 1.14;
  font-weight: 400;
}

h1 {
  font-size: 22px;
}
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 26px;
  }
}

h2 {
  font-size: 18px;
}
@media screen and (min-width: 1200px) {
  h2 {
    font-size: 22px;
  }
}

.container {
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  margin: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .section {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .section {
    width: 768px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    width: 1200px;
    padding-top: 48px;
    padding-bottom: 48px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
}
@media screen and (min-width: 768px) {
  .header__button {
    display: none;
  }
}
.header__button .icon-close {
  display: none;
}
.header__button.is-open .icon-close {
  display: block;
}
.header__button.is-open .icon-menu {
  display: none;
}

.request-button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.modal__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #f9f9f9;
  cursor: pointer;
}

.modal__close-icon {
  -webkit-transition: fill 0.3s cubic-bezier(0.22, 0.68, 0, 1.71);
  transition: fill 0.3s cubic-bezier(0.22, 0.68, 0, 1.71);
}
.modal__close:hover .modal__close-icon, .modal__close:focus .modal__close-icon {
  fill: #fb9403;
}

.request__button {
  border: 0;
  background-color: #fb9403;
  -webkit-transition: color 0.3s cubic-bezier(0.22, 0.68, 0, 1.71);
  transition: color 0.3s cubic-bezier(0.22, 0.68, 0, 1.71);
  cursor: pointer;
}
.request__button:hover, .request__button:focus {
  color: #fff;
}

.request__button-submit {
  display: block;
  margin: auto;
  padding: 10px 56px;
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: #fff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  background-color: #fb9403;
  cursor: pointer;
  -webkit-transition: background-color 0.3s cubic-bezier(0.22, 0.68, 0, 1.71);
  transition: background-color 0.3s cubic-bezier(0.22, 0.68, 0, 1.71);
}

.header {
  position: relative;
  padding-top: 0;
  padding-bottom: 5px;
  background-color: #f9f9f9;
}

.header__banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}
@media screen and (min-width: 480px) {
  .header__banner {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .header__banner {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .header__banner {
    width: 1200px;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 40px;
}

.nav-menu {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #f9f9f9;
}
@media screen and (min-width: 768px) {
  .nav-menu {
    position: relative;
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.nav-menu.is-open {
  display: block;
}

.nav-menu__item {
  margin-left: 10px;
}
@media screen and (min-width: 768px) {
  .nav-menu__item:not(:first-child) {
    margin-left: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .nav-menu__item:not(:first-child) {
    margin-left: 30px;
  }
}

.nav-menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 0.3s cubic-bezier(0.22, 0.68, 0, 1.71);
  transition: color 0.3s cubic-bezier(0.22, 0.68, 0, 1.71);
}
.nav-menu__link:hover, .nav-menu__link:focus {
  color: #fb9403;
}

.nav-menu__icon {
  margin-right: 7px;
  fill: #525252;
  -webkit-transition: fill 0.3s cubic-bezier(0.22, 0.68, 0, 1.71);
  transition: fill 0.3s cubic-bezier(0.22, 0.68, 0, 1.71);
}
.nav-menu__link:hover .nav-menu__icon, .nav-menu__link:focus .nav-menu__icon {
  fill: #fb9403;
}

.logo {
  font-family: "raleway";
  font-weight: 700;
  font-size: 16px;
  color: #fb9403;
}
@media screen and (min-width: 480px) {
  .logo {
    font-size: 24px;
  }
}
@media screen and (min-width: 768px) {
  .logo {
    font-size: 36px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 48px;
  }
}

.logo__part {
  color: #525252;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-left: 3px solid #fb9403;
  border-right: 3px solid #fb9403;
  border-bottom: 3px solid #fb9403;
}
.table caption {
  background: #fb9403;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 16px;
  text-align: center;
  margin: 0;
}
@media screen and (min-width: 1200px) {
  .table caption {
    font-size: 22px;
  }
}
.table td, .table th {
  padding: 10px;
  text-align: center;
  font-size: 16px;
}
@media screen and (min-width: 1200px) {
  .table td, .table th {
    font-size: 22px;
  }
}
.table tr {
  -webkit-transition: color 0.3s cubic-bezier(0.22, 0.68, 0, 1.71), background-color 0.3s cubic-bezier(0.22, 0.68, 0, 1.71);
  transition: color 0.3s cubic-bezier(0.22, 0.68, 0, 1.71), background-color 0.3s cubic-bezier(0.22, 0.68, 0, 1.71);
}
.table tr:nth-child(2n) {
  background: #f9f9f9;
}

.table__body td, .table__body th {
  padding: 10px;
  text-align: center;
  font-size: 14px;
}
@media screen and (min-width: 1200px) {
  .table__body td, .table__body th {
    font-size: 18px;
  }
}
.table__body tr:hover, .table__body tr:focus {
  background-color: #fb9403;
  color: #fff;
}

.footer {
  background-color: #f9f9f9;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 528px;
  padding: 20px;
  background-color: #f9f9f9;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__title {
  margin-top: 40px;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #525252;
}

.request {
  max-width: 448px;
  margin-left: auto;
  margin-right: auto;
}

.request__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.request__label {
  margin-bottom: 4px;
  font-size: 12px;
}

.request__position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.request__input {
  margin: 0;
  padding: 12px 42px;
  height: 40px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transition: border-color 0.3s cubic-bezier(0.22, 0.68, 0, 1.71);
  transition: border-color 0.3s cubic-bezier(0.22, 0.68, 0, 1.71);
  border-radius: 4px;
}
.request__input:focus-visible, .request__position:hover .request__input, .request__position:focus .request__input {
  border-color: #fb9403;
}

.request__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 0.3s cubic-bezier(0.22, 0.68, 0, 1.71);
  transition: fill 0.3s cubic-bezier(0.22, 0.68, 0, 1.71);
}
.request__position:hover .request__icon, .request__position:focus .request__icon, .request__input:focus-visible + .request__icon {
  fill: #fb9403;
}

.request__textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.request__textarea-input {
  resize: none;
  margin: 0;
  padding: 12px 16px;
  height: 120px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transition: border-color 0.3s cubic-bezier(0.22, 0.68, 0, 1.71);
  transition: border-color 0.3s cubic-bezier(0.22, 0.68, 0, 1.71);
  border-radius: 4px;
}
.request__textarea-input:hover, .request__textarea-input:focus, .request__textarea-input:focus-visible {
  border-color: #fb9403;
}
.request__textarea-input::-webkit-input-placeholder {
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.request__textarea-input::-moz-placeholder {
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.request__textarea-input:-ms-input-placeholder {
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.request__textarea-input::-ms-input-placeholder {
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.request__textarea-input::placeholder {
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.policy__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 7px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.policy__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
}

.policy__checkbox {
  position: absolute;
}

.policy__icon {
  opacity: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transition: opacity 0.3s cubic-bezier(0.22, 0.68, 0, 1.71);
  transition: opacity 0.3s cubic-bezier(0.22, 0.68, 0, 1.71);
  background-color: #fb9403;
  border-radius: 2px;
}

.policy__checkbox:checked ~ .policy__icon {
  opacity: 1;
}

.policy__terms {
  padding-left: 7px;
}

.policy__link {
  color: #fb9403;
}

.commutes {
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  color: #202124;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: Arial, sans-serif;
  height: 100%;
  min-height: 256px;
  min-width: 360px;
  overflow: auto;
  width: 100%;
}

.commutes-info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 110px;
          flex: 0 0 110px;
  max-width: 100%;
  overflow: hidden;
}

.commutes-initial-state {
  border-radius: 8px;
  border: 1px solid #dadce0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 98px;
  margin-top: 8px;
  padding: 0 16px;
}

.commutes-initial-state svg {
  -ms-flex-item-align: center;
      align-self: center;
}

.commutes-initial-state .description {
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 16px;
}

.commutes-initial-state .description .heading {
  font: 22px/28px Arial, sans-serif;
  margin: 0;
}

.commutes-initial-state .description p {
  color: #5f6368;
  font: 13px/20px Arial, sans-serif;
  margin: 0;
}

.commutes-initial-state .add-button {
  -ms-flex-item-align: center;
      align-self: center;
  background-color: #4285f4;
  border-color: #4285f4;
  border-radius: 4px;
  border-style: solid;
  color: #fff;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  fill: #fff;
  padding: 8px 16px 8px 8px;
  white-space: nowrap;
}

.commutes-initial-state .add-button .label {
  font: normal 600 15px/24px Arial, sans-serif;
  padding-left: 8px;
}

@media (max-width: 535px) {
  .commutes-initial-state svg {
    display: none;
  }
  .commutes-initial-state .description {
    padding-left: 0;
  }
  .commutes-initial-state .description .heading {
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
  }
}
.commutes-destinations {
  display: none;
  position: relative;
  width: 100%;
}

.commutes-destinations:hover .visible {
  display: block;
}

.commutes-destinations .destinations-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  padding: 8px 8px 4px 8px;
  white-space: nowrap;
  width: 100%;
}

.commutes-destinations .destinations-container::-webkit-scrollbar {
  display: none;
}

.commutes-destinations .destinations-container::-webkit-scrollbar-thumb {
  background-color: #dadce0;
  width: 4px;
}

.commutes-destinations .destination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.commutes-destinations .right-control,
.commutes-destinations .left-control {
  background-color: #fff;
  border-radius: 40px;
  border-style: none;
  bottom: 35px;
  -webkit-box-shadow: 0 2px 3px 0 rgba(60, 64, 67, 0.3), 0 6px 10px 4px rgba(60, 64, 67, 0.15);
          box-shadow: 0 2px 3px 0 rgba(60, 64, 67, 0.3), 0 6px 10px 4px rgba(60, 64, 67, 0.15);
  cursor: pointer;
  fill: #616161;
  height: 40px;
  padding: 8px;
  position: absolute;
  width: 40px;
  z-index: 100;
}

.commutes-destinations .right-control:hover,
.commutes-destinations .left-control:hover {
  background-color: #f1f3f4;
}

.commutes-destinations .left-control {
  left: 16px;
}

.commutes-destinations .right-control {
  right: 16px;
}

.commutes-destinations .add-button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e8f0fe;
  border-radius: 8px;
  border-color: #e8f0fe;
  border-style: solid;
  color: #1967d2;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: #1967d2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-weight: bold;
  gap: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 156px;
  padding: 20px 16px;
}

.commutes-destinations .add-button:hover {
  background-color: #d2e3fc;
  border-color: #d2e3fc;
  color: #185abc;
  fill: #185abc;
}

.commutes-destinations .destination-container {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  position: relative;
}

.commutes-destinations .destination {
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
          box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  color: #5f6368;
  fill: #5f6368;
  height: 72px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 8px;
  min-width: 256px;
  overflow: hidden;
  padding: 12px;
  position: relative;
  width: 100%;
}

.commutes-destinations .active:after {
  background-color: #4285f4;
  content: "";
  display: block;
  height: 4px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.commutes-destinations .active + .destination-controls .directions-button {
  fill: #4285f4;
}

.commutes-destinations .active + .destination-controls .edit-button {
  opacity: 1;
}

.commutes-destinations .active .metadata .location-marker {
  background-color: #fce8e6;
  color: #d93025;
}

.commutes-destinations .destination-container:hover,
.commutes-destinations .destination-container:focus-within {
  background-color: #f8f9fa;
}

.commutes-destinations .destination-container:hover .edit-button,
.commutes-destinations .destination-container:focus-within .edit-button {
  opacity: 1;
}

.commutes-destinations .destination .destination-content {
  font-size: 12px;
  line-height: 20px;
  overflow: hidden;
}

.commutes-destinations .destination .metadata {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 4px;
  gap: 4px;
}

.commutes-destinations .destination-container svg {
  height: 18px;
  width: 18px;
}

.commutes-destinations .destination .location-marker {
  background-color: #f1f3f4;
  border-radius: 8px;
  color: #616161;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  text-align: center;
  width: 16px;
}

.commutes-destinations .destination .address {
  margin-bottom: 4px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.commutes-destinations .destination .address abbr {
  text-decoration: none;
}

.commutes-destinations .destination .destination-eta {
  color: #202124;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
}

.commutes-destinations .destination-container .destination-controls {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 70px;
  position: absolute;
  right: 20px;
  text-align: right;
  top: 12px;
  white-space: nowrap;
}

.commutes-destinations .destination-container .directions-button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: 32px;
  border: 1px solid #dadce0;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: #5f6368;
  height: 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  width: 34px;
}

.commutes-destinations .destination-container .directions-button:hover {
  background-color: #e8f0fe;
  fill: #4285f4;
}

.commutes-destinations .destination-container .edit-button {
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid #dadce0;
  opacity: 0;
  font-size: 14px;
  font-weight: bold;
  line-height: 22px;
  margin: 8px 0 0 0;
  padding: 3px 12px 3px 5px;
  fill: #616161;
  color: #616161;
  cursor: pointer;
}

.commutes-destinations .destination-container .edit-button svg {
  display: inline-block;
  font-size: 20px;
  line-height: 20px;
  width: 20px;
  vertical-align: middle;
}

.commutes-destinations .destination-container .edit-button:hover {
  background-color: #f1f3f4;
}

.commutes-map {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.commutes-map .map-view {
  background-color: rgb(229, 227, 223);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.commutes-modal-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.commutes-modal {
  background: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px rgba(0, 0, 0, 0.14), 0 1px 10px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px rgba(0, 0, 0, 0.14), 0 1px 10px rgba(0, 0, 0, 0.12);
  height: 256px;
  position: absolute;
  width: 360px;
}

.commutes-modal .content {
  padding: 24px 24px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

.commutes-modal .heading {
  font: 24px/32px Arial, sans-serif;
  margin: 0;
}

.commutes-modal input {
  font: 16px/24px Arial, sans-serif;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

.commutes-modal .error {
  background-color: #fce4e4;
  border: 1px solid #c03;
}

.commutes-modal .error-message {
  color: #c03;
  display: inline-block;
  font: 12px/14px Arial, sans-serif;
  margin: 0 0 5px;
}

.commutes-modal .travel-modes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 40px;
  margin-bottom: 12px;
  padding: 0;
  width: 100%;
}

.commutes-modal .travel-modes [type=radio] {
  height: 0;
  opacity: 0;
  position: absolute;
  width: 0;
}

.commutes-modal .travel-modes label {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid #dadce0;
  border-width: 1px 0.031em;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  fill: #5f6368;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 6px;
  position: relative;
  -webkit-transition: background 0.5s, fill 0.5s;
  transition: background 0.5s, fill 0.5s;
}

.commutes-modal .travel-modes label:hover {
  background-color: #f1f3f4;
}

.commutes-modal .travel-modes svg {
  height: 24px;
  width: 24px;
}

.commutes-modal .travel-modes .left-label {
  border-left-width: 1px;
  border-radius: 4px 0 0 4px;
}

.commutes-modal .travel-modes .right-label {
  border-radius: 0 4px 4px 0;
  border-right-width: 1px;
}

.commutes-modal .travel-modes input[type=radio]:checked + label {
  background: #e8f0fe;
  fill: #1967d2;
}

.commutes-modal .travel-modes input[type=radio]:focus-visible + label {
  outline: 2px solid Highlight;
  outline: 2px solid -webkit-focus-ring-color;
  outline-offset: -2px;
}

.commutes-modal .modal-action-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.commutes-modal .modal-action-bar button {
  background: white;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  line-height: 32px;
}

.commutes-modal .modal-action-bar .delete-destination-button {
  color: #c5221f;
  left: 18px;
  position: absolute;
}

.commutes-modal .modal-action-bar .cancel-button {
  color: rgba(0, 0, 0, 0.5411764706);
}

.commutes-modal .modal-action-bar .add-destination-button,
.commutes-modal .modal-action-bar .edit-destination-button {
  color: #1a73e8;
}

.hide {
  display: none;
}/*# sourceMappingURL=main.css.map */