.logo {
    font-family: 'raleway';
    font-weight: 700;
    font-size: 16px;
    color: $accent;

    @media screen and (min-width: 480px) {
        font-size: 24px;
    }

    @media screen and (min-width: 768px) {
        font-size: 36px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 48px;
    }
}