.nav {
  @include flexCenter($horizontal: space-between);
  min-height: 40px;
}

.nav-menu {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: $bg-color;

  @media screen and (min-width: 768px) {
    position: relative;
    width: auto;
    @include flexCenter($horizontal: space-between);

  }

  &.is-open {
    display: block;
  }
}

.nav-menu__item {
  margin-left: 10px;

  @media screen and (min-width: 768px) {
    &:not(:first-child) {
      margin-left: 15px;
    }
  }

  @media screen and (min-width: 1200px) {
    &:not(:first-child) {
      margin-left: 30px;
    }
  }
}

.nav-menu__link {
  display: flex;
  align-items: center;
  @include effect;

  &:hover,
  &:focus {
    color: $accent;
  }
}

.nav-menu__icon {
  margin-right: 7px;
  fill: $font-color;
  @include effect(fill);

  .nav-menu__link:hover &,
  .nav-menu__link:focus & {
    fill: $accent;
  }
}