.request {
  width: 448px;
  margin-left: auto;
  margin-right: auto;
}

.request__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.request__label {
  margin-bottom: 4px;
  font-size: 12px;
}

.request__position {
  display: flex;
  flex-direction: column;
  position: relative;
}

.request__input {
  margin: 0;
  padding: 12px 42px;
  height: 40px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  @include effect(border-color);
  border-radius: 4px;

  &:focus-visible,
  .request__position:hover &,
  .request__position:focus & {
    border-color: $accent;
  }
}

.request__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  @include effect(fill);

  .request__position:hover &,
  .request__position:focus &,
  .request__input:focus-visible+& {
    fill: $accent;
  }
}

.request__textarea {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.request__textarea-input {
  resize: none;
  margin: 0;
  padding: 12px 16px;
  height: 120px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  @include effect(border-color);
  border-radius: 4px;

  &:hover,
  &:focus,
  &:focus-visible {
    border-color: $accent;
  }

  &::placeholder {
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}