.header__button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  @include effect;

  &:hover,
  &:focus {
    background-color: $accent;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.request-button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.modal__close {
  @include flexCenter();
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: $bg-color;
  cursor: pointer;
}

.modal__close-icon {
  @include effect(fill);

  .modal__close:hover &,
  .modal__close:focus & {
    fill: $accent;
  }
}

.request__button {
  border: 0;
  background-color: $accent;
  @include effect();
  cursor: pointer;

  &:hover,
  &:focus {
    color: $table-text-hover;
  }
}

.request__button-submit {
  display: block;
  margin: auto;
  padding: 10px 56px;
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: $table-text-hover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  background-color: $accent;
  cursor: pointer;
  @include effect(background-color);
}