@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');


$accent: #00a3c8;
$body-color: #fff;
$font-color: #525252;
$bg-color: #f9f9f9;